*{background:#a6a6a6; color:#fae6ff; font-family: Segoe,Arial; margin:0; padding:0; text-align:center;}

nav ul {display: flex; justify-content: center; list-style: none; padding: 0; margin:0; gap:20px;}

nav a{text-decoration:none; }

.table{margin:20px auto; border-collapse:collapse; border:4px solid #fae6ff;}

.table td{color:black; border:4px solid #fae6ff;}

.table th{border:4px solid #fae6ff; color:black;}



